# 실습2: Apache 재단에서 관리하는 Service 목록 긁어오기
### 1. By Name 하위에 있는 목록 긁기
### 2. 각각의 목록에 해당하는 URL주소 긁기
#### 참고: https://apache.org/

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

import os
from google.colab import drive
drive.mount('/content/drive')

In [17]:
target_url = 'https://www.apache.org/'

res = req.get(target_url)
soup = bs(res.text, 'html.parser')

names_list = soup.select('#by_name li > a')

names = []
urls = []

for name in names_list:
    names.append(name.text)
    urls.append(name.attrs['href'])

df = pd.DataFrame({
    'names':names,
    'urls':urls
})

df = df.iloc[1:,]
df
df.reset_index(drop=True, inplace=True)

df.to_csv('./drive/MyDrive/test/test2.csv')

         names                          urls
1          AGE         http://age.apache.org
2       APISIX      http://apisix.apache.org
3     Accumulo   http://accumulo.apache.org/
4     ActiveMQ   http://activemq.apache.org/
5     Airavata   http://airavata.apache.org/
..         ...                           ...
197     Xerces     http://xerces.apache.org/
198      Yetus      http://yetus.apache.org/
199   YuniKorn    http://yunikorn.apache.org
200   Zeppelin   http://zeppelin.apache.org/
201  ZooKeeper  http://zookeeper.apache.org/

[201 rows x 2 columns]