In [1]:
import pandas as pd
import requests as req
from bs4 import BeautifulSoup as bs

In [8]:
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EC%97%AD%EB%8C%80+%EB%B0%95%EC%8A%A4%EC%98%A4%ED%94%BC%EC%8A%A4%EC%88%9C%EC%9C%84'

res = req.get(url)
soup = bs(res.text, 'html.parser')
movierank_li = soup.select('._content > ul > li')

In [77]:
movie_title = []
movie_date = []
movie_ticketsales = []
movie_url = []

In [28]:
# 제목
movierank_li[0].select('.movie_tit strong')[0].text

'명량'

In [32]:
# 개봉일
movierank_li[0].select('.movie_item dd')[0].text

' 2014.07.30. '

In [33]:
# 관객수
movierank_li[0].select('.movie_item dd')[1].text

'17,615,844명'

In [48]:
movierank_li[0].select('.btn_area > a')[0].attrs['href']

'https://serieson.naver.com/tvstore/detail.nhn?mcode=93756'

In [54]:
movierank_li[0].select('.btn_area > a')[0].text

'다운로드'

In [78]:
for movie in movierank_li:
    movie_title.append(movie.select('.movie_tit strong')[0].text)
    movie_date.append(movie.select('.movie_item dd')[0].text)
    movie_ticketsales.append(movie.select('.movie_item dd')[1].text)
    
    tmp = movie.select('.btn_area > a')
    
    if len(tmp) == 2:
        if tmp[0].text == '다운로드':
            movie_url.append(tmp[0].attrs['href'])
        else:
            movie_url.append(tmp[1].attrs['href'])
    else:
        if tmp[0].text == '예고편':
            movie_url.append(tmp[0].attrs['href'].split('&')[0])
        else:
            movie_url.append(tmp[0].attrs['href'])

movie_dict = {
    'movie_title':movie_title,
    'movie_date':movie_date,
    'movie_ticketsales':movie_ticketsales,
    'movie_url' : movie_url
}

In [79]:
tmp_df = pd.DataFrame(movie_dict)
tmp_df.head()

,movie_title,movie_date,movie_ticketsales,movie_url
0,명량,2014.07.30.,"17,615,844명",https://serieson.naver.com/tvstore/detail.nhn?...
1,극한직업,2019.01.23.,"16,266,338명",https://serieson.naver.com/tvstore/detail.nhn?...
2,신과함께-죄와 벌,2017.12.20.,"14,414,658명",https://serieson.naver.com/tvstore/detail.nhn?...
3,국제시장,2014.12.17.,"14,264,059명",https://serieson.naver.com/tvstore/detail.nhn?...
4,어벤져스: 엔드게임,2019.04.24.,"13,977,602명",https://serieson.naver.com/tvstore/detail.nhn?...

In [63]:
tmp_df['movie_url'][0].split('?')[1]

'mcode=93756'

In [80]:
tmp_df['movie_url'] = tmp_df['movie_url'].apply(lambda x: x.split('?')[1])

In [81]:
tmp_df['movie_url'][41]

'code=39569'

In [82]:
tmp_df['movie_code'] = tmp_df['movie_url'].apply(lambda x: x.split('=')[1])

In [83]:
tmp_df['movie_code']

0      93756
1     167651
2      85579
3     102875
4     136900
       ...
95    163533
96     52548
97    137326
98     49727
99    144314
Name: movie_code, Length: 100, dtype: object

In [84]:
code_list = tmp_df['movie_code']

target_url = 'https://movie.naver.com/movie/bi/mi/point.naver?'


res = req.get(target_url, params={'code':code_list[0]})
res

In [142]:
soup = bs(res.text, 'html.parser')
tmp_spc_score = soup.select('.spc_score_area')[0].select('div > em')
spc_score = ''.join([i.text for i in tmp_spc_score])
spc_score

'6.29'

In [165]:
tmp_ntz_score = soup.select('.score_left > .star_score em')
ntz_score = ''.join(i.text for i in tmp_ntz_score)
ntz_score

'8.44'

In [202]:
# page5까지
target_url2 = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?'

param_dict = {
    'code':'93756',
    'type':'after',
    'onlyActualPointYn':'Y',
    'onlySpoilerPointYn':'N',
    'order':'sympathyScore',
    'page':1
}

res2 = req.get(target_url2, params=param_dict)
soup2 = bs(res2.text, 'html.parser')

In [209]:
tmp_act_score = soup2.select('.score_result .star_score em')
act_score = list(map(int, [i.text for i in tmp_act_score]))
sum(act_score)

97

In [210]:
# 50개 평균
target_url2 = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?'
avg_act_score = 0

for i in range(1,5):
    
    param_dict = {
        'code':'93756',
        'type':'after',
        'onlyActualPointYn':'Y',
        'onlySpoilerPointYn':'N',
        'order':'sympathyScore',
        'page':i
    }

    res2 = req.get(target_url2, params=param_dict)
    soup2 = bs(res2.text, 'html.parser')
    tmp_act_score = soup2.select('.score_result .star_score em')
    act_score = list(map(int, [i.text for i in tmp_act_score]))
    
    avg_act_score += sum(act_score)
    
avg_act_score /= 50
avg_act_score

7.14

In [216]:
# 전체 평점 긁기
target_url = 'https://movie.naver.com/movie/bi/mi/point.naver?'
target_url2 = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?'

actual_valence = []
netizen_valence = []
critic_valence = []

for movie_code in code_list:
    
    res = req.get(target_url, params={'code':movie_code})
    soup = bs(res.text, 'html.parser')
    
    # 전문가 평점
    try:
        tmp_spc_score = soup.select('.spc_score_area')[0].select('div > em')
        spc_score = ''.join([i.text for i in tmp_spc_score])
        critic_valence.append(float(spc_score))
    except:
        critic_valence.append(0)
    
    # 네티즌 평점
    try:
        tmp_ntz_score = soup.select('.score_left > .star_score em')
        ntz_score = ''.join(i.text for i in tmp_ntz_score)
        netizen_valence.append(float(ntz_score))
    except:
        netizen_valence.append(0)
    
    # 관람객 공감순 50개 평균 평점
    avg_act_score = 0

    for j in range(1,5):

        param_dict = {
            'code':movie_code,
            'type':'after',
            'onlyActualPointYn':'Y',
            'onlySpoilerPointYn':'N',
            'order':'sympathyScore',
            'page':j
        }

        res2 = req.get(target_url2, params=param_dict)
        soup2 = bs(res2.text, 'html.parser')
        tmp_act_score = soup2.select('.score_result .star_score em')
        act_score = list(map(int, [i.text for i in tmp_act_score]))

        avg_act_score += sum(act_score)

    avg_act_score /= 50
    actual_valence.append(avg_act_score)

In [218]:
movie_dict

{'movie_title': ['명량',
  '극한직업',
  '신과함께-죄와 벌',
  '국제시장',
  '어벤져스: 엔드게임',
  '겨울왕국 2',
  '베테랑',
  '아바타',
  '도둑들',
  '7번방의 선물',
  '알라딘',
  '암살',
  '범죄도시2',
  '광해, 왕이 된 남자',
  '신과함께-인과 연',
  '택시운전사',
  '부산행',
  '변호인',
  '해운대',
  '어벤져스: 인피니티 워',
  '실미도',
  '괴물',
  '왕의 남자',
  '어벤져스: 에이지 오브 울트론',
  '인터스텔라',
  '기생충',
  '겨울왕국',
  '보헤미안 랩소디',
  '검사외전',
  '엑시트',
  '설국열차',
  '관상',
  '아이언맨 3',
  '캡틴 아메리카: 시빌 워',
  '해적: 바다로 간 산적',
  '수상한 그녀',
  '국가대표',
  '백두산',
  '과속스캔들',
  '탑건: 매버릭',
  '스파이더맨: 파 프롬 홈',
  '디 워',
  '공조',
  '트랜스포머 3',
  '히말라야',
  '스파이더맨: 노 웨이 홈',
  '미션 임파서블 : 고스트 프로토콜',
  '밀정',
  '최종병기 활',
  '써니',
  '트랜스포머',
  '트랜스포머: 패자의 역습',
  '스파이더맨: 홈커밍',
  '한산: 용의 출현',
  '1987',
  '베를린',
  '마스터',
  '터널',
  '어벤져스',
  '내부자들',
  '늑대소년',
  '인천상륙작전',
  '럭키',
  '은밀하게 위대하게',
  '범죄도시',
  '곡성(哭聲)',
  '화려한 휴가',
  '좋은 놈, 나쁜 놈, 이상한 놈',
  '공조2: 인터내셔날',
  '군함도',
  '미션 임파서블: 폴아웃',
  '웰컴 투 동막골',
  '다크 나이트 라이즈',
  '사도',
  '아저씨',
  '킹스맨 : 시크릿 에이전트',
  '미션 임파서블: 로그네이션',
  '미녀는 괴로워',
  '전우치',
  '연평해전',
  '인셉션',
  '레미제라블',
  '닥터 스트레인지: 대혼돈의 멀티버스',
  '캡틴 마블',
  '타짜',
  '쥬라기 월드: 폴른 킹덤',
  '청년경찰',
  '숨바꼭질',
  '덕혜옹주',
  '더 테러 라이브',
  '쥬라기 월드',
  '감시자들',
  '앤트맨과 와스프',
  '닥터 스트레인지',
  '검은 사제들',
  '안시성',
  '의형제',
  '블랙 팬서',
  '2012',
  '더 킹'],
 'movie_date': [' 2014.07.30. ',
  ' 2019.01.23. ',
  ' 2017.12.20. ',
  ' 2014.12.17. ',
  ' 2019.04.24. ',
  ' 2019.11.21. ',
  ' 2015.08.05. ',
  ' 2009.12.17. ',
  ' 2012.07.25. ',
  ' 2013.01.23. ',
  ' 2019.05.23. ',
  ' 2015.07.22. ',
  ' 2022.05.18. ',
  ' 2012.09.13. ',
  ' 2018.08.01. ',
  ' 2017.08.02. ',
  ' 2016.07.20. ',
  ' 2013.12.18. ',
  ' 2009.07.22. ',
  ' 2018.04.25. ',
  ' 2003.12.24. ',
  ' 2006.07.27. ',
  ' 2005.12.29. ',
  ' 2015.04.23. ',
  ' 2014.11.06. ',
  ' 2019.05.30. ',
  ' 2014.01.16. ',
  ' 2018.10.31. ',
  ' 2016.02.03. ',
  ' 2019.07.31. ',
  ' 2013.08.01. ',
  ' 2013.09.11. ',
  ' 2013.04.25. ',
  ' 2016.04.27. ',
  ' 2014.08.06. ',
  ' 2014.01.22. ',
  ' 2009.07.29. ',
  ' 2019.12.19. ',
  ' 2008.12.03. ',
  ' 2022.06.22. ',
  ' 2019.07.02. ',
  ' 2007.08.01. ',
  ' 2017.01.18. ',
  ' 2011.06.29. ',
  ' 2015.12.16. ',
  ' 2021.12.15. ',
  ' 2011.12.15. ',
  ' 2016.09.07. ',
  ' 2011.08.10. ',
  ' 2011.05.04. ',
  ' 2007.06.28. ',
  ' 2009.06.24. ',
  ' 2017.07.05. ',
  ' 2022.07.27. ',
  ' 2017.12.27. ',
  ' 2013.01.30. ',
  ' 2016.12.21. ',
  ' 2016.08.10. ',
  ' 2012.04.26. ',
  ' 2015.11.19. ',
  ' 2012.10.31. ',
  ' 2016.07.27. ',
  ' 2016.10.13. ',
  ' 2013.06.05. ',
  ' 2017.10.03. ',
  ' 2016.05.12. ',
  ' 2007.07.25. ',
  ' 2008.07.17. ',
  ' 2022.09.07. ',
  ' 2017.07.26. ',
  ' 2018.07.25. ',
  ' 2005.08.04. ',
  ' 2012.07.19. ',
  ' 2015.09.16. ',
  ' 2010.08.04. ',
  ' 2015.02.11. ',
  ' 2015.07.30. ',
  ' 2006.12.14. ',
  ' 2009.12.23. ',
  ' 2015.06.24. ',
  ' 2010.07.21. ',
  ' 2012.12.19. ',
  ' 2022.05.04. ',
  ' 2019.03.06. ',
  ' 2006.09.28. ',
  ' 2018.06.06. ',
  ' 2017.08.09. ',
  ' 2013.08.14. ',
  ' 2016.08.03. ',
  ' 2013.07.31. ',
  ' 2015.06.11. ',
  ' 2013.07.03. ',
  ' 2018.07.04. ',
  ' 2016.10.26. ',
  ' 2015.11.05. ',
  ' 2018.09.19. ',
  ' 2010.02.04. ',
  ' 2018.02.14. ',
  ' 2009.11.12. ',
  ' 2017.01.18. '],
 'movie_ticketsales': ['17,615,844명',
  '16,266,338명',
  '14,414,658명',
  '14,264,059명',
  '13,977,602명',
  '13,747,792명',
  '13,414,484명',
  '13,338,865명',
  '12,984,701명',
  '12,812,144명',
  '12,797,929명',
  '12,706,855명',
  '12,693,195명',
  '12,324,062명',
  '12,278,010명',
  '12,189,698명',
  '11,572,066명',
  '11,375,223명',
  '11,325,117명',
  '11,233,176명',
  '11,081,000명',
  '10,917,400명',
  '10,514,177명',
  '10,504,007명',
  '10,342,523명',
  '10,313,345명',
  '10,303,058명',
  '9,948,386명',
  '9,707,119명',
  '9,426,421명',
  '9,353,799명',
  '9,135,806명',
  '9,001,679명',
  '8,678,117명',
  '8,666,208명',
  '8,660,760명',
  '8,392,617명',
  '8,252,909명',
  '8,223,342명',
  '8,165,687명',
  '8,023,606명',
  '7,855,474명',
  '7,817,686명',
  '7,785,189명',
  '7,759,711명',
  '7,551,990명',
  '7,508,976명',
  '7,500,457명',
  '7,482,180명',
  '7,453,733명',
  '7,402,732명',
  '7,393,443명',
  '7,258,678명',
  '7,258,076명',
  '7,232,452명',
  '7,166,688명',
  '7,147,924명',
  '7,120,780명',
  '7,087,068명',
  '7,073,581명',
  '7,069,579명',
  '7,051,237명',
  '6,975,631명',
  '6,959,083명',
  '6,880,546명',
  '6,879,989명',
  '6,855,433명',
  '6,686,075명',
  '6,624,892명',
  '6,592,168명',
  '6,584,919명',
  '6,436,900명',
  '6,428,574명',
  '6,247,745명',
  '6,179,525명',
  '6,129,651명',
  '6,126,488명',
  '6,081,480명',
  '6,065,474명',
  '6,045,353명',
  '5,998,647명',
  '5,938,797명',
  '5,884,595명',
  '5,802,811명',
  '5,692,997명',
  '5,661,231명',
  '5,653,444명',
  '5,604,106명',
  '5,599,995명',
  '5,584,295명',
  '5,547,463명',
  '5,509,019명',
  '5,448,134명',
  '5,447,269명',
  '5,443,232명',
  '5,441,020명',
  '5,416,923명',
  '5,399,327명',
  '5,397,597명',
  '5,318,007명'],
 'movie_url': ['https://serieson.naver.com/tvstore/detail.nhn?mcode=93756',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=167651',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=85579',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=102875',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=136900',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=136873',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=115977',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=62266',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=78726',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=94775',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=163788',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=121048',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=192608',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=83893',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=167697',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=146469',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=130966',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=101901',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=45321',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=136315',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=34501',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=39841',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=39894',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=98438',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=45290',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=161967',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=100931',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=156464',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=130903',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=174903',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=62328',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=93728',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=70254',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=122527',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=102817',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=107924',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=47385',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=187940',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=51143',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=81888',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=173123',
  'https://movie.naver.com/movie/bi/mi/mediaView.nhn?code=39569',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=142384',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=70241',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=100647',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=208077',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=53372',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=137952',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=83084',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=76016',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=61521',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=68052',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=135874',
  'https://movie.naver.com/movie/bi/mi/mediaView.nhn?code=194196&mid=52832',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=158191',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=89218',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=145162',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=141104',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=72363',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=121788',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=88253',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=142822',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=140695',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=92575',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=161242',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=121051',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=58018',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=65674',
  'https://movie.naver.com/movie/bi/mi/mediaView.nhn?code=201641&mid=52998',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=146506',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=154222',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=39405',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=72054',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=121922',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=71509',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=114249',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=95541',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=39157',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=48227',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=102272',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=52515',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=89755',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=182016',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=132623',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=57723',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=154285',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=153652',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=102824',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=94767',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=99794',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=67786',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=98146',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=144330',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=125459',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=120157',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=163533',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=52548',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=137326',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=49727',
  'https://serieson.naver.com/tvstore/detail.nhn?mcode=144314']}

In [219]:
movie_dict['critic_valence'] = critic_valence
movie_dict['netizen_valence'] = netizen_valence
movie_dict['actual_valence'] = actual_valence

In [220]:
df = pd.DataFrame(movie_dict)
df.head()

,movie_title,movie_date,movie_ticketsales,movie_url,critic_valence,netizen_valence,actual_valence
0,명량,2014.07.30.,"17,615,844명",https://serieson.naver.com/tvstore/detail.nhn?...,6.29,8.44,7.14
1,극한직업,2019.01.23.,"16,266,338명",https://serieson.naver.com/tvstore/detail.nhn?...,6.80,8.51,7.30
2,신과함께-죄와 벌,2017.12.20.,"14,414,658명",https://serieson.naver.com/tvstore/detail.nhn?...,5.92,7.83,4.28
3,국제시장,2014.12.17.,"14,264,059명",https://serieson.naver.com/tvstore/detail.nhn?...,5.81,9.02,7.72
4,어벤져스: 엔드게임,2019.04.24.,"13,977,602명",https://serieson.naver.com/tvstore/detail.nhn?...,7.62,9.38,7.92

In [222]:
df['critic_actual_diff'] = abs(df['actual_valence'] - df['critic_valence'])

In [225]:
df = df.sort_values('critic_actual_diff')
df.reset_index(inplace=True, drop=True)
df.loc[(df['critic_valence'] != 0) & (df['actual_valence'] != 0) & (df['critic_actual_diff']==0)]

,index,movie_title,movie_date,movie_ticketsales,movie_url,critic_valence,netizen_valence,actual_valence,critic_netizen_diff,critic_actual_diff
3,76,미션 임파서블: 로그네이션,2015.07.30.,"6,126,488명",https://serieson.naver.com/tvstore/detail.nhn?...,7.54,8.75,7.54,0.0,0.0